<%= form_with model: @work do |f| %>

    <h4>宿題内容</h4>
    <%= f.text_field :content %>

    <h4>メモ</h4>
    <%= f.text_field :memo %>

    <h4>期限</h4>
    <%= f.date_select :deadline %>

    <h4>教科</h4>
    <%= f.select :category_id, options_for_select(@categories) %>

    <%= f.submit '登録' %>
<% end %>
